table {
  width: 100%;
  border-collapse: collapse; 
  text-align: center;
  font-family: Arial;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

th, td {
  border: 1px solid #333;
  padding: 8px;
}

tbody tr:hover {
  background-color: #ddd; 
}
